body{
    font-family: Lato,"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;!important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1, .h1 {
    font-size: 28px;
}

h3,.h3{
    font-size: 20px;
    font-weight: 100;
}

a:hover{
    text-decoration: none;
}